
App/logs/

App/lib/

App/build-fprime-automatic-native-ut/

App/build-fprime-automatic-native/

App/bin/

.idea/

ADCS/packages/csp/__pycache__/

ADCS/packages/state_machine/__pycache__/

ADCS/packages/tcp/__pycache__/
