
App/build-artifacts/

App/build-fprime-automatic-native/
App/build-fprime-automatic-raspberrypi/
App/build-fprime-automatic-native-ut/
App/build-fprime-automatic-raspberrypi-ut/


App/logs/

fprime-venv

.idea
.editorconfig
.vscode/
